<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About Us - VAULTWATCH</title>
    <link rel="stylesheet" href="path/to/font-awesome/css/all.min.css" />
    <!-- Include FontAwesome CSS -->
  </head>
  <body>
    <div class="top-section">
      <div class="title">VaultWatch</div>
      <div class="team-touch">Team 3</div>
    </div>

    <div class="dashboard-container">
      <h1>About Us</h1>
      <p>
        Welcome to VaultWatch, your trusted solution for monitoring and
        optimizing the Vaulticore environments. Our team, Team 3, is dedicated
        to providing you with real-time data and insights to ensure the the the
        Shallomium element remains in an optimum environment. We are saving the
        world! Explore our About page to learn more about each team member.
      </p>

      <h2>Our Team</h2>
      <ul>
        <li><a href="/about#member1">Charity Francis</a></li>
        <li><a href="/about#member2">Ayetor Gabriel</a></li>
        <li><a href="/about#member3">Ebigwei Solomon</a></li>
        <li><a href="/about#member4">Sunday Goodnews</a></li>
        <li><a href="/about#member5">Chris Okolo</a></li>
        <li><a href="/about#member6">Brian Ng'ang'a</a></li>
        <li><a href="/about#member7">Igwegbe Onyedikachukwu</a></li>
        <li><a href="/about#member8">Daniel Clement</a></li>
      </ul>

      <h2>Contact Us</h2>
      <p>
        For any inquiries or collaboration opportunities, feel free to contact
        us:
        <a href="/contact">Contact Page</a>
      </p>
    </div>
  </body>
</html>
